.counterContainer{
    display: flex;
    justify-content: space-between;
    height: 46px;
    width: 116px;
}

.minus{
    background-color: #F6F7F8;
    border: none;
    color:#33A0FF;
    height: 46px;
    font-size: 16px;
    
}
.plus{
    background-color: #F6F7F8;
    color:#33A0FF;
    border: none;
    height: 46px;
    font-size: 16px;
    
}

.number{
 color: black;
 background-color: #F6F7F8;
 height: 46px;
 font-size: 16px;
 text-align: center;
 padding-top: 15px;
 padding-bottom: -15px;

}