button {
    border-radius: 2px;
    padding: 5px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-color: black;
    height: 46px;
    width: 150px
}

.button-primary {
    background-color: #33A0FF;
    color: white;
    border: #33A0FF;
}
.button-lightPrimary {
    background-color: rgb(51, 160, 255, 0.1);
    color:rgb(51, 160, 255, 1);
    border: #33A0FF;
    
}
.button-outlinePrimary{
    background-color: white;
    color:  #33A0FF;
    border:  #33A0FF  solid 2px;
}


.button-danger {
    background-color:#FF4858;
    color: white;
    border: #707070;
}
.button-lightDanger {
    background-color:rgb(255, 72, 88, 0.1);
    color:#FF4858;
    border: none;
    
}
.button-outlineDanger{
    background-color: white;
    color: #FF4858;
    border:  #FF4858 solid 2px;
}



.button-success {
    background-color: #0AD00A;
    color: white;
    border: #33A0FF;
}
.button-lightSuccess {
    background-color:rgb(10, 208, 10, 0.1);
    color:rgb(10, 208, 10);
    border: #33A0FF;
    
}
.button-outlineSuccess{
    background-color: white;
    color:  #0AD00A;
    border:  #0AD00A  solid 2px;
}



.button-warning {
    background-color:#FFC600;
    color: white;
    border: #33A0FF;
}
.button-lightWarning {
    background-color:rgb(255, 198, 0, 0.1);
    color: #FFC600;
    border: #33A0FF;
    
}
.button-outlineWarning{
    background-color: white;
    color:   #FFC600;
    border:   #FFC600 solid 2px;
}


.button-defaultLight {
    background-color:rgb(0, 0, 0, 0.1);
    color: black;
    border: #33A0FF;
}

.button-defaultOutline {
    background-color:white;
    color: black;
    border: black solid 2px;
}


.button-large{
    height: 60px;
    width: 171px;
}


.button-primary:hover {
    background-color: #2E90E5;

}


