button {

}

.input-small{
 height:41px;
 width: 182px;
}

.input-large2 {
    height:55px;
    width: 182px;
}

.button-small{
    height:46px;
    width: 118px;
    border: 4px solid  #33A0FF;
    padding: 3px;
    background-color: #33A0FF;
    border-radius: 0px 5px 5px 0px;
   }

.button-large2{
    height:60px;
    width: 118px;
    border: 4px solid  #33A0FF;
    background-color: #33A0FF;
    border-radius: 0px 5px 5px 0px;
   }
